.navigation {
    display: flex;
    width: 10vw;
    flex-direction: column;
    padding: 1rem;
    border-right: 1px solid gray;
}

.navigation-item {
    text-align: left;
    text-decoration: none;
    color: black;
}

.navigation-item:hover {
    cursor: pointer;
}

.navigation-item h4 {
    display: inline-block;
}